{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}


{% block static_files %}
<link rel="stylesheet" href="../static/css/styles_about.css">
{% endblock %}

<main>
    
    <section>
        <h2>Hello, Antony! 👀</h2>
        <br>

        <h3>About This Site:</h3>
        <p>
            This is "GoIteens shop", our <a href="https://edu.goiteens.com/learn/17539896/17203479/17903874/homework" target="_blank">second homework</a>. 
            On this website you can find and buy some perfumes.
        </p>

        <h3>About Me:</h3>
        <p>
            My name is Evgen, i do programming for about 3,5 years already.
            Beside programming i have a lot of hobbies:
            <ul>
                <li>🥰Math🥰</li>
                <li>Gym</li>
                <li>Physics</li>
                <li>Sometimes read</li>
                <li>English</li>
            </ul>
        </p>
    </section>

</main>

{% endblock %}
