{% extends "base.html" %}

{% block title %} Products {% endblock title %}

{% block content %}

<main>
    <section>
      <ul>
      {% for stuff in all_stuff %}
        <li>
            <p>
              <img src="static/img/{{ stuff.photo }}", alt="Product 1">
              <h3>{{stuff.name}}</h3>
              <p>{{stuff.desc|truncatechars:1|default:"..."  }}</p>
              <button>{{stuff.price}}</button>
              <button>Add to Cart</button>
            </p>
        </li>
      {% endfor %}
      </ul>
    </section>
  </main>

{% endblock content %}
